<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!--<variable name="logLayout" value="Logger：${logger}${newline}Date：${longdate}${newline}Level：${uppercase:${level}}${newline}Message：${message} ${newline}Exception：${exception:format=toString}${newline}" />-->
  <variable name="logLayout" value="Logger：${logger}${newline}Date：${longdate}${newline}Level：${uppercase:${level}}${newline}Message：${message} ${newline}${onexception:Exception：${exception:format=toString}${newline}}" />
  <!-- the targets to write to -->
  <targets>
    <target name="asyncTraceFile" xsi:type="AsyncWrapper">
      <target name="log_file" xsi:type="File"
              fileName="${basedir}/logs/trace/${shortdate}/${shortdate}.txt"
              layout="${logLayout}"
              archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              keepFileOpen="true"
              encoding="utf-8"
              openFileCacheTimeout="30"/>
    </target>
    <target name="asyncErrorFile" xsi:type="AsyncWrapper">
      <target name="log_file" xsi:type="File"
              fileName="${basedir}/logs/error/${shortdate}/${shortdate}.txt"
              layout="${logLayout}"
              archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              keepFileOpen="true"
              encoding="utf-8"
              openFileCacheTimeout="30"/>
    </target>
    <target name="asyncInfoFile" xsi:type="AsyncWrapper">
      <target name="log_file" xsi:type="File"
              fileName="${basedir}/logs/info/${shortdate}/${shortdate}.txt"
              layout="${logLayout}"
              archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              keepFileOpen="true"
              encoding="utf-8"
              openFileCacheTimeout="30"/>
    </target>
    <!-- 写入sqlserver数据库 -->
    <target name="database" xsi:type="Database">
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        insert into kc.Promotion_SynGiftLog (Application,Logger,LogLevel,LogDate,Exception,Message)
        values (@application,@logger,@level,@date,@exception,@message);
      </commandText>
      <parameter name="@application" layout="KC.Gift.SynGift" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@date" layout="${date}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@message" layout="${message}" />
    </target>

  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--日志等级-->
    <!--Trace<Debug<Info<Warn<Error<Fatal-->
    
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="asyncTraceFile" />-->
    <!--<logger name="*" minlevel="Error" writeTo="asyncErrorFile" />-->
    <logger name="KC.Template.*" minlevel="Info" writeTo="asyncInfoFile" />
    <!--<logger name="KC.Gift.*" minlevel="Info" writeTo="database" />-->
    <!--<logger name="Microsoft.*" maxLevel="Info" final="true" />-->
  </rules>
</nlog>